body{
    padding-left: 60px;
    padding-top: 20px;
    background-color:#C0E6BA ;
   
}

.search-container{
   position: sticky;
   top: 10px;
}

.search-bar {
    width: 60%;
    padding: 10px;
    border-radius: 20px;
    border:0.5px solid ;
    border-color:whitesmoke ;
    position: relative;

}

#side-menu{
    position: fixed;
    z-index: 100;
    right: 0px;
    background-color: black;
    width: 35%;
    top: 0px;
    bottom: 0px;
    display: none;
}

#side-menu ul{
    margin: 0;
    padding:0;
}

#side-menu ul li{
    list-style-type:none;
    background-color: white;
    padding: 10px;
    margin: 5px;
}

.search-button {
    position: absolute;
    right: 500px;
    top: 12px;
    background-color: #013237;
    color: white;
    border-radius: 10px;
    border: none;
    width: 70px;
}

.search-container p {
    font-family: "Poppins", sans-serif;
    position: absolute;
    top: 12px;
    left: 80px;
}

.navbar-container{
    margin-top: 10px;
    height: 30px;
    width: 750px;
}
.navbar-container a {
    color: #292c29;
    text-decoration: none;
    padding: 50px;
}

.navbar-container a:nth-child(2){
    text-decoration: underline;
    color: blue;
}
    


.image-container {
    border: 1px solid black;
    margin-top: 30px;
    position: relative;
    
}

.image-container img{
    display: inline-block;
    position: absolute;
    border-radius: 15px;
    
}

#img1{
   
    width: 20%;
    margin-bottom: 10px;
    margin-right: 10px;
    top: 15px;
}

#img7{
    left: 250px;
    top: 15px;
    
}

#img8{
    left: 560px;
    width: 25%;
    height: 180px;
    top: 15px;
}

#img9{
    left: 860px;
    width: 250px;
    height: 180px;
    top: 15px;
}

#img3{
    top: 265px
}

#img10{
    top: 225px;
    left: 255px;
}

#img11{
    width: 250px;
    height: 180px;
    top: 225px;
    left: 555px;
}

#img12{
    left: 820px;
    top: 225px;
}

#img13{
    width: 27%;
    top: 470px;
}

#img2{
    left: 350px;
    top: 430px;
}

#img4{
    left: 570px;
    top: 430px;
}

#img5{
    top: 430px;
    left: 870px;
    width: 20%;
}

#img6{
    left: 770px;
    top: 640px;
}

#img14{
    left:360px ;
    top: 620px;
    width: 33%;
    height:180px ;
}
